<footer class="bg-dark text-light text-center py-4 mt-4">
    <div class="container">
        <!-- Social and Contact Info -->
        <p class="mb-2">
            <a href="https://www.linkedin.com/in/derek-monturo-6a3585b/" class="text-warning mx-3" target="_blank"
                rel="noopener noreferrer">
                <i class="fab fa-linkedin fa-lg"></i> <span class="ms-1">LinkedIn</span>
            </a>

            <a href="https://github.com/drmDev" class="text-warning mx-3" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github fa-lg"></i> <span class="ms-1">Github</span>
            </a>
            <a href="mailto:dmontur1@gmail.com" class="text-warning mx-3">
                <i class="fas fa-envelope fa-lg"></i> <span class="ms-1">dmontur1@gmail.com</span>
            </a>
            <span class="text-warning mx-3" class="text-warning mx-3">
                <i class="fab fa-discord fa-lg"></i> <span class="ms-1">NescapePlan</span>
            </span>
        </p>
    </div>
</footer>
