<footer class="bg-dark text-light text-center py-4 mt-4">
    <div class="container">
        <!-- Social and Contact Info -->
        <div class="footer-links-container">
            <a href="https://www.linkedin.com/in/derek-monturo-6a3585b/" class="footer-link text-warning" target="_blank"
                rel="noopener noreferrer">
                <i class="fab fa-linkedin fa-lg"></i>
                <span>LinkedIn</span>
            </a>

            <a href="https://github.com/drmDev" class="footer-link text-warning" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github fa-lg"></i>
                <span>Github</span>
            </a>

            <a href="mailto:dmontur1@gmail.com" class="footer-link text-warning">
                <i class="fas fa-envelope fa-lg"></i>
                <span>dmontur1@gmail.com</span>
            </a>

            <a href="https://ko-fi.com/derekmonturo" class="footer-link text-warning" target="_blank" rel="noopener noreferrer">
                <i class="fas fa-mug-hot fa-lg"></i>
                <span>Support Me</span>
            </a>
        </div>
    </div>
</footer>

<!-- Ko-fi Widget -->
<!--
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('derekmonturo', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support me',
    'floating-chat.donateButton.background-color': '#00b9fe',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>
-->