<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-4 fw-bold" href="{{ "/" | relative_url }}">
            <i class="fas fa-user"></i> Derek Monturo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span> <strong>Menu</strong>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/" | relative_url }}" id="nav-home">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/hobbies" | relative_url }}" id="nav-hobbies">
                        <i class="fas fa-dice"></i> Hobbies
                    </a>
                </li>
								<li class="nav-item">
										<a class="nav-link" href="{{ "/puzzles" | relative_url }}" id="nav-puzzles">
												<i class="fas fa-crow"></i> Chess Woodpecker
										</a>
								</li>
            </ul>
        </div>
    </div>
</nav>
